BUG: GetHeader() doesn't add quote for especials

I have an email with this `From:` header:

```
From: [List] My List <list@domain.com>
```

Since `[` and `]` are especials ([RFC 5322, section 3.2.3](https://datatracker.ietf.org/doc/html/rfc5322#section-3.2.3)), the value doesn't need to be base64 encoded.

When getting value with `GetHeader("from")`, it returns wrong value:
```
[List] My List <list@domain.com>
```
Correct value should be (display name is surrounded by quote characters):
```
"[List] My List" <list@domain.com>
```

This causes `mail.ParseAddress()` (std) cannot parse the value of `GetHeader("from")` (error: `mail: missing word in phrase: mail: invalid string`).

`net/mail` package handles this correctly:
```
package main

import (
	"fmt"
	"net/mail"
)

func main() {
	addr := mail.Address{Name: "[List] My List", Address: "list@domain.com"}
	hdr := mail.Header{}
	hdr["From"] = []string{addr.String()}

	fmt.Printf("%s", hdr.Get("from"))
}
```
It prints:
```
"[List] My List" <list@domain.com>
```

I realized this is not a bug of enmime at all, it's misuse of `mail.ParseAddress()` or `mail.ParseAddressList()`.
`mail.ParseAddress()` and `mail.ParseAddressList()` require original value of email header, not the decoded one returned by `GetHeader()`.