BUG: Not fold long (header) line at limited max length in `Wrap()`

Hi @jhillyerd 

`Wrap()` function: https://github.com/jhillyerd/enmime/blob/v2.2.0/internal/stringutil/wrap.go#L20

- According to RFC 5322, [section 2.2.3, `Long Header Fields`](https://www.rfc-editor.org/rfc/rfc5322#section-2.2.3):

>       Note: Though structured field bodies are defined in such a way
>      that folding can take place between many of the lexical tokens
>      (and even within some of the lexical tokens), folding SHOULD be
>      limited to placing the CRLF at higher-level syntactic breaks.  For
>      instance, if a field body is defined as comma-separated values, it
>      is recommended that folding occur after the comma separating the
>      structured items in preference to other places where the field
>      could be folded, even if it is allowed elsewhere.

Current `Wrap()` folds long line after whitespace or tab characters, but if a line doesn't contain any whitespace and tab, it doesn't respect the max length, which means it doesn't fold the long line at all.
https://github.com/jhillyerd/enmime/blob/15dab47a805a08c3f5fc6722b49a50371fc473dd/internal/stringutil/wrap.go#L20

And unit test [`TestWrapIdentityLong`](https://github.com/jhillyerd/enmime/blob/main/internal/stringutil/wrap_test.go#L28) is wrong too, correct result should be:

```
aaaaa\r\n aaaaa\r\n aaaaa\r\n aaaaa\r\n aaaaa\r\n aaaaa\r\n aaaaa\r\n aaaaa\r\n aaaaaa
```

Suggestions:

- Fold after additional chars like `,`, `;`.
- Force to fold when it reaches max length.